<div class="card card-user" style="border-radius: 0px">

  <div class="card-body">
    <form [formGroup]="commodityForm" (ngSubmit)='saveCommodity()'>
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Commodity Name</label>
            <input formControlName="name" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Commodity Type</label>
            <select formControlName="type" class="form-control">
              <option style="margin: 5px 5px; padding-bottom: 5px;" *ngFor="let item of inventory.commodityType"
                value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Seller</label>
            <select formControlName="seller" class="form-control">
              <option style="margin: 5px 5px; padding-bottom: 5px;" *ngFor="let item of inventory.seller"
                value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Manufacturer</label>
            <select formControlName="brand" class="form-control">
              <option style="margin: 5px 5px; padding-bottom: 5px;" *ngFor="let item of inventory.brand"
                value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Unit</label>
            <input formControlName="unit" type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 pr-1">
          <div class="form-group">
            <label>Price/Unit</label>
            <input formControlName="price" type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div style="display: inline-block; margin-left: 15px;">
          <button [disabled]="!commodityForm .valid" type="submit" class="btn btn-primary btn-block" type="submit"
            value="Submit">Save</button>
        </div>
        <div style="display: inline-block; margin-left: 15px;">
          <button class="btn btn-primary btn-block">Discard</button>
        </div>
      </div>
    </form>
  </div>

</div>