<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
      <!-- <sidebar-cmp></sidebar-cmp> -->
      <h1>This is sidebar component</h1>
  </div>
  <div class="main-panel">
      <!-- <navbar-cmp></navbar-cmp> -->
      <div class="content">
          <router-outlet></router-outlet>
      </div>
      <h1>This is footer component</h1>
      <!-- <footer-cmp></footer-cmp> -->
  </div>
</div>
<h1>This is fixed plugin component</h1>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->

<h1>This is chayan kar</h1>