<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Announce Yourself !!!</h1>
          <form action="#!">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="name" name="name" id="name" class="form-control" placeholder="spell your name">
            </div>
            <div class="form-group">
              <label for="phone">Contact Number</label>
              <input type="phone" name="phone" id="phone" class="form-control" placeholder="care to share your phone number ?">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="type your active email id">
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="your password better be THANOS strong">
            </div>
            <div class="form-group mb-4">
              <label for="reenter-password">Re-enter Password</label>
              <input type="reenter-password" name="reenter-password" id="reenter-password" class="form-control" placeholder="just to confirm, type again">
            </div>
            <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Submit">
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="../../assets/img/login.jpg" alt="login image" class="login-img">
      </div>
    </div>
  </div>
</main>