<div class="row">


  <div class="col-md-12">
    <div class="card" style="border-radius: 0px">

      <div class="card-header">
        <div class="row">
          <div class="col-md-12">

            <div>
              <div class="alert alert-info">
                <span>Filter records.</span>
                <div style="float:right; margin-top: 4px;"><i *ngIf="!isFilterRequested" (click)="toggleFilter()"
                    class="nc-icon nc-minimal-down"></i></div>
                <div style="float:right; margin-top: 4px;"><i *ngIf="isFilterRequested" (click)="toggleFilter()"
                    class="nc-icon nc-minimal-up" style="float:right; margin-bottom: 4px;"></i></div>
              </div>

              <div *ngIf="isFilterRequested" style="width: inherit; margin-left: 3px; margin-right: 3px;">
                <form [formGroup]="inventoryFilterForm" (ngSubmit)='applyFilter()'>
                  <div class="row">
                    <div class="col-md-4">
                      <label class="text-muted"><span>Product Name</span></label>
                      <div class="form-group">
                        <input formControlName="name" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label>Commodity Type</label>
                        <select formControlName="type" class="form-control">
                          <option style="margin: 5px 5px; padding-bottom: 5px;"
                            *ngFor="let item of inventory.commodityType" value="{{item}}">{{item}}</option>
                        </select>

                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <div class="form-group">
                          <label>Seller</label>
                          <select formControlName="seller" class="form-control">
                            <option *ngFor="let item of inventory.seller" value="{{item}}">{{item}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label>Brand</label>
                        <select formControlName="brand" class="form-control">
                          <option *ngFor="let item of inventory.brand" value="{{item}}">{{item}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <button type="submit" value="Submit" class="btn btn-primary btn-block"
                          style="margin-top: 24px; padding: 13px 22px;">Filter</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Action
              </th>
              <th>
                Name
              </th>
              <th>
                Category
              </th>
              <th>
                Unit Present
              </th>
              <th>
                Price/Unit
              </th>
              <th>
                Seller
              </th>
              <th>
                Brand
              </th>
            </thead>

            <tbody>
              <tr *ngFor="let item of commodityListVM | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>
                  <div>
                    <i (click)='edit(item)' class="nc-icon nc-ruler-pencil btn-outline-secondary mr-2"
                      ngbTooltip="Edit detail" style="display: inline-block;margin-right: 20px;"></i>
                    <i ngbTooltip="Delete entry" class="nc-icon nc-simple-remove" style="display: inline-block;"></i>
                  </div>

                </td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.price}}</td>
                <td>{{item.seller}}</td>
                <td>{{item.brand}}</td>
              </tr>
            </tbody>

          </table>
          <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [maxSize]="7"
            [collectionSize]="collectionSize" [directionLinks]="true"></ngb-pagination>
        </div>
      </div>

    </div>
  </div>

</div>